<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication3</title>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <p class="header-text">Directum - тестовое задание для практиканта</p>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
    </footer>
</body>
</html>
